
@import 'sidebar';

.content {
  max-width: 900px;
  margin-left: 25%;
  padding: 48px;
}

.post-list li {
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
